html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

body {
    background-color: #fff;
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(transparent, black )
}

header {
    width: 70%;
    font-size: larger;
    margin-bottom: 40px;
}

main {
    margin: 0;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid black;
}

input[type=number]{
    text-align: center;
}

button {
    font-size: x-large;
    width: 150px;
    height: 40px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

.campoForms {
    width: 25px;
}

/* RETIRAR AS  SETAS DO INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    
}

/* FIELDSET */

fieldset {
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
    font-size: 1.2rem;
}

fieldset:nth-child(2) {
    flex-direction: column;
}

fieldset>legend {
    font-weight: bold;
    font-size: 20px;
    width: 29, 5%;
}

fieldset>input {
    width: 20px;
    height: 15px;
}


section>div {
    display: flex;
    flex-direction: column;
    width: 100%;

}

/* MATRIZES */

#Matrizes {
    display: flex;
    align-items: start;
    width: 100%;
    margin: 0;
}

#Matrizes>fieldset {
    display: flex;
    justify-content: space-evenly;
}

#Matrizes>fieldset>legend {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#operador {
    display: flex;
    align-items: center;
    justify-self: center;
}

#Matrizes>fieldset>div {
    display: block;
    margin-block-start: 15%;
}

/* RESULTADO */

#resultado {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#resultado>table {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    font-size: xx-large;

}

#resultado>table>tr {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    gap: 10px;


}

#resultado>table>tr>td {
    width: 50px;
    background-color: #fff;
    text-align: center;
    /* border: solid 1px black ;
    background-color: #fff; */

}