

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: radial-gradient(transparent, black)
}


header {
    font-size: larger;
    margin-bottom: 20px;
    text-align: center;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.97);
    box-sizing: border-box;
}

input[type=number] {
    text-align: center;
}

button {
    font-size: x-large;
    width: 150px;
    height: 40px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}

.campoForms {
    width: 25px;
}

/* RETIRAR AS  SETAS DO INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

/* FIELDSET */

fieldset {
    width: 100%;
    min-width: 690px;
    display: flex;
    padding: 10px;
    gap: 10px;
    font-size: 1.2rem;
}

fieldset:nth-child(2) {
    flex-direction: column;
}

fieldset>legend {
    font-weight: bold;
    font-size: 20px;
    width: 29, 5%;
}

fieldset>input {
    width: 20px;
    height: 15px;
}


section>div {
    display: flex;
    flex-direction: column;
    width: 100%;

}

/* MATRIZES */

#Matrizes {
    display: flex;
    align-items: start;
    margin: 0;
}

#Matrizes>fieldset {
    max-height: 250px;
    display: flex;
    justify-content: space-evenly;
}

#Matrizes>fieldset>legend {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#operador {
    display: flex;
    align-items: center;
    justify-self: center;
}

#Matrizes>fieldset>div {
    display: block;
    margin-block-start: 15%;
}

/* RESULTADO */

#resultado {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#resultado>table {
    display: flexbox;
    justify-content: center;
    align-items: center;
    font-size: xx-large;

}

#resultado>table>tr {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    gap: 10px;


}

#resultado>table>tr>td {
    width: 50px;
    background-color: #fff;
    text-align: center;

}

#opcoes {
    margin-top: 10px;
}

#opcoes:has(#button>button) {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

@media (max-width: 427px){

    
    #operacao{
        font-size: 1.0rem;

        
    }
}

@media (max-width: 900px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-image: radial-gradient(transparent, black)
    }

    main {
        width: 90%;
        max-width: 400px;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.97);
        box-sizing: border-box;
    }


    button {
        font-size: small;
        width: 80px;
        height: 30px;
    }

    header {
        font-size: small;
        margin-bottom: 5px;
        text-align: center;
    }


    /* FIELDSET */

    fieldset {
        width: 100%;
        min-width: 130px;
        display: flex;
        padding: 5px;
        gap: 5px;
        font-size: 1.3rem;
        flex-wrap: wrap;
    }

    /* Escolha de quantidade */
    fieldset:nth-child(2) {
        flex-direction: column;
    }

    fieldset>legend {
        font-weight: bold;
        font-size: 15px;
        width: 17, 5%;
    }

    fieldset>input {
        width: 10px;
        height: 10px;
    }


    section>div {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    #Matrizes {
        display: flex;
        align-items: start;
        margin: 0;
        font-size: small;

    }

    #matrizA,
    #matrizB {
        margin-top: 20px !important;
        height: 60% !important;
        margin-top: 0px !important;
        align-self: center;
    }

    #Matrizes>fieldset>p {
        margin: 0;
    }

    #Matrizes>fieldset {
        margin: 0;
        max-height: 200px;
        display: flex;
        justify-content: space-evenly;
    }

    #Matrizes>fieldset>legend {
        font-size: medium;
        font-weight: bold;
        text-align: center;
    }

    #operador {
        margin: 0;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    #Matrizes>fieldset>div {
        display: block;
        margin-block-start: 15%;
    }

}