html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0; /* Cor de fundo para diferenciar o contêiner */
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

header {
    font-size: larger;
    margin-bottom: 20px;
    text-align: center;
}

main {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}

input[type=number] {
    text-align: center;
}

button {
    font-size: large;
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.campoForms {
    width: 50px;
    margin: 5px;
}

/* RETIRAR AS SETAS DO INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* FIELDSET */
fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

fieldset>legend {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

fieldset>div {
    display: flex;
    justify-content: space-between;
}

fieldset>div>label {
    flex: 1;
    text-align: left;
}

#Matrizes {
    display: flex;
    align-items: start;
    margin: 0;
    flex-direction: column;
    gap: 20px;
}

#resultado {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

#resultado>table {
    font-size: xx-large;
    border-collapse: collapse;
    margin: 0 auto;
}

#resultado>table>tr>td {
    width: 50px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ccc;
}

#opcoes {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

@media (min-height: 450px) {
    .container {
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
    }
    
}